.rojo{
    background-color: red;
}
.aqua{
    background-color: aqua;
}
.violeta{
    background-color: purple;
}
.verde{
    background-color: green;
}
.naranja{
    background-color: orange;
}
.grande{
    height: 400px;
}
.chico{
    height: 200px;
}
